@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Indie+Flower|Gloria+Hallelujah|Permanent+Marker|Orbitron');

a{
    text-decoration: none !important;
}

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{
    font-size: 20px;
    color: #000 !important;
    margin: 15px;
    font-family: 'Roboto Condensed';
}

.nav-link:hover{
    color: #00EBEB !important;
}

.active .nav-link{
    color: #00EBEB !important;
}

.site-content{
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.site-title{
    color: black;
    font-family: 'Pacifico';
}

.heading-img{
    overflow: hidden;
}

.heading-img img{
    margin-top: 5%;
    height: 200px;
    width: 200px;
    transition: all 1.5s ease;
    border-radius: 50%;
    margin-bottom: 5%;
}

img:hover{
    transform: scale(1.5);
}

.site-description{
    color: black;
    font-family: 'Righteous';
}

.site-title{
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 70px;
}

.site-description{
    padding-left: 15%;
    font-size: 18px;
    font-family: 'Ubuntu';
}

/* Skill bar design */

.skills{
    font-family: 'Orbitron';
    list-style: none;
    padding: 0;
    width: 400px;
    margin: 60px auto;
    color: #000;
    margin-bottom: 10% !important;
}

.skills li{
    margin: 20px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 5px;
    float: left;
    background: #2187e7;
}

.html{
    width: 90%;
    animation: html 2s;
}

.css{
    width: 80%;
    animation: css 2s;
}

.javascript{
    width: 40%;
    animation: javascript 2s;
}

.php{
    width: 15%;
    animation: php 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 15%;
    }
}

/* Section 1*/

.section-1, .heading-1{
    margin-top: 8%;
}

.heading-2{
    margin-bottom: 5%;
    font-size: 39px;
}

.para-1{
    font-size: 18px;
    margin-bottom: 6%;
    color: rgba(0, 0, 0, 0.59);
}

.card{
    width: 20rem;
}

.card-text{
    color: rgba(0, 0, 0, 0.59);
}

.section-1{
    margin-bottom: 3%;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}


/* footer */

.footer-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}