@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #d88771);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-size: cover;
    min-width: 100%;
}

.error {
    color: red;
    font-weight: bolder;
    text-align: center;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: #000;
    color: #ff6747;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
}

footer a:link,
footer a:visited {
    color: #ff6747;
}

button,
input {
    outline: none;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
}

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.5s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

form button:hover {
    background-color: #d88771;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: decimal;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo:hover {
    background: #ddd;
}

.todo li {
    flex: 1;
}

.trash-btn,
.completed-btn {
    background: #ff6747;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completed-btn {
    background-color: rgb(73, 204, 73);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transform: translateX(20px);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    /*transform: translateY(8rem) rotateZ(20deg);*/
    /*transition: opacity 1s ease-in-out;*/
    animation: todoFade 0.8s ease forwards;
}

@keyframes todoFade {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff6747;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
}

option {
    padding: 1rem !important;
}

.select::after {
    content: "\25BC";
    color: #fff;
    position: absolute;
    background: #ff6747;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.select:hover::after {
    background: white;
    color: #ff6747;
    transition: all 0.3s ease;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}